<ion-view view-title="Intro">
  <ion-content class="splash_screen  padding slide_height">
	<div class="animated slideInRight">
		<div class="login_holder">
			<img ng-src="img/login-logo.png" alt="" class="login_logo"/>
			<div class="list padding-right padding-left">
			   <div class="after_text">
			    <h4 class="text-white" style="text-transform: uppercase; color: #212121; font-size: 17px;margin-top:45px;"> Get home delivery From your <br /> neighborhood</h4>
			    <div class="after_splash_img" style="text-align: center; margin:40px auto;">
			     	<img src="../img/a-s.png" style="margin: 0 auto; width: 100%;" />
			     </div>
			     <!--<h4 class="text-red" style="text-transform: uppercase; color: #212121;"> neighborhood</h4>-->
			    </div>
			    <!--<div class="after_text row">
			    <h4 class="text-white" style="text-transform: uppercase; color: #212121; font-size: 17px"> Get home delivery From your <br /> neighborhood</h4>
			     <h4 class="text-red" style="text-transform: uppercase; color: #212121;"> neighborhood</h4>
			     <div class="after_splash_img" style="text-align: center; margin:15px auto;">
			     	<img src="../img/a-s.png" style="margin: 0 auto;" />
			     </div>
			    </div>-->
	        	
				<br />
				<br />
				<br />
					<br />
				<br />
				<br />
	           
	     	</div>
	     	
         </div>
         
       
	</div>
	 <div class="row btn_detail" style="margin-top: 60px;">
				
					<div class="col col-50"> <button class="button button-full button-assertive" style="background: #2bbb9d!important;color: #fff;" ng-click="showPopup()">SIGN IN</button></div>
					
					<div class="col col-50"> <button class="button button-full button-stable" style="background: #292929!important;color: #fff;" ng-click="showPopup()">SIGN UP</button></div>
					
				</div>
	 
  </ion-content>
</ion-view>