<ion-view view-title="Register">
  <ion-content class="login-wrapper padding slide_height" >
  	<!--<div class="bar bar-header" style="position: static;">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <a href="#/sign_up"><button class="button button-icon button-clear ion-ios-arrow-left"></button></a>
            </span>
        </div>
        <div class="h1 title">Create account</div>
    </div>-->
	<div class="animated slideInRight">
		<div class="login_holder">
			<img ng-src="img/login-logo.png" alt="" class="login_logo"/>
			  <p class="login_p" style="">Forgot Password </p>
			
			
			<div class="list padding-right padding-left">
	       <form name="forgotPassword" ng-submit="forgotpassword(user)" novalidate>         
					<label class="item item-input-inset  log_in_email">
						<i class="icon ion-ios-email-outline placeholder-icon"></i>
						<input type="email" placeholder="Email" name="email" ng-model="user.email" required>
					</label>
	                
	              <!--<label class="">
                   <span style="color:red" ng-show="forgotPassword.email.$dirty && loginForm.email.$invalid">
                    <span ng-show="forgotPassword.email.$error.required">Email is required.</span>
                    <span ng-show="forgotPassword.email.$error.email">Invalid email address.</span>
                    </span>
                </label>  -->
					
	                <button class="button button-full button-assertive log_in_btn"   ng-disabled="forgotPassword.$invalid">SUBMIT</button>
	                
	                <p class="need_account" style="">Need an Account ? <a href="#">Sign Up</a></p>
					
					
				 </form>    	
	            </div>
         </div>
	</div>
  </ion-content>
</ion-view>