<ion-view view-title="Intro">
  <ion-content class="login-wrapper  padding slide_height">
	<div class="animated slideInRight">
		<div class="login_holder">
			<img ng-src="img/login-logo.png" alt="" style="width: 30%;" class="login_logo"/>
			<div class="list padding-right padding-left">
			   <div class="after_text">
			    <h4 class="text-white" style="text-transform: uppercase; color: #fff; font-size: 18px;margin-top:95px;font-weight: 400; text-transform: inherit;margin-bottom: 0;">Talk to each other and learn 
<br />your favourite language </h4>
			  
			    </div>
			   	        	        
	     	</div>
	     	
         </div>
         
       
	</div>
	 <div class="row btn_detail">
				
					<!--<div class="col col-50"> <button class="button button-full button-assertive" style="background: #2bbb9d!important;color: #fff;" ng-click="showPopup()">SIGN IN</button></div>-->
					
					<div class="col"> <button class="button button-full button-stable" style="background: #292929!important;color: #fff;border:none;" ng-click="goToSignUp()">SIGN UP</button>
					<p class="need_account" style="margin: 0 5px;font-weight: 400;font-size: 14px;" >Already have an account? <span ng-click="goToSignIn()">Sign In </span></p>
					</div>
					
				</div>
	 
  </ion-content>
</ion-view>