<ion-view view-title="Intro" cache-view="false">
<!--<div class="row bar bar-header" style="height:58px">
    <div class="col col-10">
        <i style="font-size: 28px; color:#fff;" class="ion-android-arrow-back" ng-click="takebotToUserListing()"></i>
    </div>
    <div class="col col-70">
        <img src="img/chat_bot_icon.png" style="width:45px; float:left; border-radius:50%;margin-top: -3px; margin-right: 10px;height:45px;" />
        <h3 class="cart_heading">Chat Bott</h3>
	</div>
</div>-->
 <div class="bar bar-header new-header">
  <button class="button ion-android-arrow-back"></button>
  <h1 class="title">Header Buttons</h1>
  <button class="button"><img src="img/chat_bot_icon.png"></button>
</div> 
	<ion-content class="padding-top sign_in_back">
		<div class="list card card-mirror new-card-mirror">
			<div class="item item-avatar">
	    		<img src="http://4.bp.blogspot.com/-BHhUazKytmw/VbCfWPqrOJI/AAAAAAAAB7c/qj6WVX3du-s/s1600/51b91bba5a3fd9b6c8b9c53bc0ab6c65.jpg">
				<div class="row" style="margin-bottom: 3px">
					<div class="col">
						<h2>Mark Constable</h2>
					</div>
					<div class="col">
						<b>2 day's ago 2:22 PM</b>
					</div>
				</div>
				<p class="custom-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
				<p class="dark-txt margin-bottom10">
					<span class="subdued">Like</span>
					<span style="display: inline-block; margin: 0 4px">-</span>
					<a href="#" class="subdued"><i class="ion-star"></i> 5</a>
					<span style="display: inline-block; margin: 0 4px 0 0">-</span>
					<a href="#" class="subdued">Reply</a>
				</p>
				<div class="item item-avatar border-top-grey inner-item-avatar">
					<img src="http://4.bp.blogspot.com/-BHhUazKytmw/VbCfWPqrOJI/AAAAAAAAB7c/qj6WVX3du-s/s1600/51b91bba5a3fd9b6c8b9c53bc0ab6c65.jpg">
					<h2>Pretty Hate Machine</h2>
					<p class="custom-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
				</div>
			</div>
		</div>
		<div class="list card card-mirror new-card-mirror">
			<div class="item item-avatar">
	    		<img src="http://4.bp.blogspot.com/-BHhUazKytmw/VbCfWPqrOJI/AAAAAAAAB7c/qj6WVX3du-s/s1600/51b91bba5a3fd9b6c8b9c53bc0ab6c65.jpg">
				<div class="row" style="margin-bottom: 3px">
					<div class="col">
						<h2>Mark Constable</h2>
					</div>
					<div class="col">
						<b>2 day's ago 2:22 PM</b>
					</div>
				</div>
				<p class="custom-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
				<p class="dark-txt margin-bottom10">
					<span class="subdued">Like</span>
					<span style="display: inline-block; margin: 0 4px">-</span>
					<a href="#" class="subdued"><i class="ion-star"></i> 5</a>
					<span style="display: inline-block; margin: 0 4px 0 0">-</span>
					<a href="#" class="subdued">Reply</a>
				</p>
			</div>
		</div>
		<div class="list card card-mirror new-card-mirror">
			<div class="item item-avatar">
	    		<img src="http://4.bp.blogspot.com/-BHhUazKytmw/VbCfWPqrOJI/AAAAAAAAB7c/qj6WVX3du-s/s1600/51b91bba5a3fd9b6c8b9c53bc0ab6c65.jpg">
				<div class="row" style="margin-bottom: 3px">
					<div class="col">
						<h2>Mark Constable</h2>
					</div>
					<div class="col">
						<b>2 day's ago 2:22 PM</b>
					</div>
				</div>
				<p class="custom-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
				<p class="dark-txt margin-bottom10">
					<span class="subdued">Like</span>
					<span style="display: inline-block; margin: 0 4px">-</span>
					<a href="#" class="subdued"><i class="ion-star"></i> 5</a>
					<span style="display: inline-block; margin: 0 4px 0 0">-</span>
					<a href="#" class="subdued">Reply</a>
				</p>
			</div>
		</div>
  </ion-content>
  <div class="tabs tabs-icon-bottom">
    <a class="tab-item foot" href="#/userList">
        <i class="icon ion-chatbubbles"></i>
        Chat
    </a>
    <a class="tab-item foot" href="#/mirror">
        <i class="icon ion-ios-settings-strong"></i>
        Mirror
    </a>
	<a class="tab-item foot" href="#/search">
        <i class="icon ion-search"></i>
        Search
    </a>
	<a class="tab-item foot" href="#/profile">
        <i class="icon ion-person-stalker"></i>
        Profile
    </a>
    <a class="tab-item foot" href="javascript:void(0)" ng-click="logOut()">
        <i class="icon ion-log-out"></i>
        Logout
    </a>
    </div>
</ion-view>



