<ion-view view-title="UserList">
    <div class="bar bar-header new-header">
        <h1 class="title">User Listing</h1>
        <button class="button" ng-click="goToChatbot()"><img src="img/chat_bot_icon.png"></button>
    </div> 

    <ion-content class="padding-top sign_in_back">
      
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
		 <ion-list class="list_user_list" ng-repeat="user in userList track by $index">
		  <ion-item >
		    <div class="left_image_list">
		      <img ng-src="{{user.ImagePath}}" ng-click="goToUserProfile(user.User_Id,user.Name,user.ImagePath,user.NativeAbbrv,user.LearningAbbrv)">
		      <div class="country_image">
		      		<img ng-src="{{user.Icon_Path}}" style="width: 20px; height:20px;">
		      	</div>
		    </div>
		    <div class="right_list_text" ng-click="goToChat(user.User_Id,user.Name,user.ImagePath)">
			    <div class="list_user_list-name_date">
			    <h2>{{user.Name}}</h2>
			    <span>12.05AM</span>
			    </div>
			    <div class="remaining_list_info">
                    <p>{{user.NativeAbbrv}} <span><i style="margin:0 3px;font-size:13px; " class="ion-code-working"></i></span> {{user.LearningAbbrv}}</p>
                    <p><i style="height:10px;color:#11c1f3;width:41px;padding-right: 31px;" class="ion-minus"></i><span></span><i class="ion-more"></i></p>
			    </div>
		    </div>
		  </ion-item>
		</ion-list>
		
		
  
    </ion-content>
    <div data-ng-include="'modules/partials/footerMenu.html'"></div>
</ion-view>