<ion-view view-title="Hobbies" cache-view="false">

    <div class="bar bar-header new-header">
        <button class="button ion-android-arrow-back" ng-click="takeToProfile()"></button>
        <h1 class="title">Change Password</h1>
    </div>
    <ion-content class="padding-top sign_in_back">
        <form name="form" ng-submit="changePassword(data)" class="list padding-right padding-left">
            <label class="item item-input-inset  log_in_email" ng-class="{ 'red' :form.userEmail.$error.required,'otherwise':!form.userEmail.$error.required}">
                <i class="icon ion-ios-email-outline placeholder-icon"></i>
                <input type="email" name="userEmail" placeholder="Email" ng-model="data.email" required ng-pattern="emailFormat">
            </label>


            <label class="item item-input-inset  log_in_paswrd" ng-class="{'red' :form.oldPassword.$error.required ,'otherwise':!form.oldPassword.$error.required}">
                <i class="icon ion-ios-unlocked-outline placeholder-icon"></i>
                <input type="password" name="oldPassword" placeholder="Old Password" ng-model="data.oldPwd" required ng-minlength="6">

            </label>

            <label class="item item-input-inset  log_in_paswrd" ng-class="{'red' :form.newPassword.$error.required ,'otherwise':!form.newPassword.$error.required}">
                <i class="icon ion-ios-unlocked-outline placeholder-icon"></i>
                <input type="password" name="newPassword" placeholder="New Password" ng-model="data.newPwd" required ng-minlength="6">

            </label>


            <button type="submit" class="button button-full button-assertive log_in_btn" ng-disabled="form.$invalid">Change Password</button>
        </form>
    </ion-content>

</ion-view>



