<ion-view view-title="UserList">

    <div class="bar bar-header new-header" ng-click="takeToSearch()">
        <button class="ion-android-arrow-back"></button>
        <h1 class="title">Advanced Search</h1>
    </div>
    <ion-content class="padding-top sign_in_back">

        <div class="list adv-search-wrap">
            <label class="item item-input item-select">
                <div class="input-label">Nationality</div>
                <select ng-model="selectedCountry">
                    <option ng-repeat="country in countryList" value="{{country.Country_Id}}">
                        {{country.Name}}
                    </option>
                </select>
            </label>

            <label class="item item-input">
                <i class="icon ion-search placeholder-icon" style="margin-top: -11px; padding-left: 0"></i>
                <textarea ng-model="selectedCity" placeholder="Search by city"></textarea>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">Native</div>
                <select ng-model="selectedNatLanguage">
                    <option ng-repeat="lang in languageList" value="{{lang.Language_Id}}">
                        {{lang.Name}}
                    </option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">Learning</div>
                <select style="width:100%;" ng-model="selectedLearnLanguage">
                    <option ng-repeat="lang in languageList" value="{{lang.Language_Id}}">
                        {{lang.Name}}
                    </option>
                </select>
            </label>


            <div class="item item-divider">Language Level</div>
            <div class="card ">
                <label class="item item-radio" >
                    <input type="radio"  ng-model="selectedLangLevel"  value="1">
                    <div class="radio-content">
                        <div class="item-content">Begineer</div>
                        <i class="radio-icon ion-checkmark"></i>
                    </div>
                </label>
                <label class="item item-radio" >
                    <input type="radio" ng-model="selectedLangLevel" value="2" >
                    <div class="radio-content">
                        <div class="item-content">Intermediate</div>
                        <i class="radio-icon ion-checkmark"></i>
                    </div>
                </label>
                <label class="item item-radio" >
                    <input type="radio"  ng-model="selectedLangLevel" value="3">
                    <div class="radio-content">
                        <div class="item-content">Expert</div>
                        <i class="radio-icon ion-checkmark"></i>
                    </div>
                </label>
            </div>


            <div class="row">
                <div class="col">
                    <button class="button button-block button-stable" ng-click="advancedSearch(selectedCountry,selectedCity,selectedNatLanguage,selectedLearnLanguage,selectedLangLevel)">Search</button>
                </div>
            </div>

        </div>
    </ion-content>

</ion-view>