<ion-view view-title="Transliteration" cache-view="false">

    <div class="bar bar-header new-header" ng-click="takeToProfile()">
        <button class="button ion-android-arrow-back" ></button>
        <h1 class="title">Transliteration </h1>
    </div>
    <ion-content class="padding-top sign_in_back">
        <ion-list class="list_user_list" ng-repeat="item in transliterationList track by $index">
            <ion-item>
                <div class="left_image_list">
                    <img ng-src="{{item.ImagePath}}">
                    <div class="country_image">
                        <img ng-src="{{item.Flag_Icon}}" style="width: 20px; height:20px;">
                    </div>
                </div>
                <div class="right_list_text">
                    <div class="list_user_list-name_date">
                        <h2>{{item.Details}}</h2>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>



