<ion-view view-title="Intro" cache-view="false">

    <div class="bar bar-header new-header">
        <button class="button ion-android-arrow-back" ng-click="takeToUserListing()"></button>
        <h1 class="title"><span><img ng-src="{{recieverImage}}" /> {{recieverName}}<span style="float:right;font-size:7px;margin-top:14px;margin-left:-27px;" ng-show="IsOnline">Online</span></span></h1>

        <!--<img src="img/green_dot.jpg" style="width:12px;height:12px;margin-top:30px;" />-->
        <button class="button" ng-click="showsearch()"><i class="icon-right ion-grid"></i></button>
    </div>
    <div class="list list-inset searchclass" ng-class="{'active':isdiplay}" style="width: 100%; margin: 0 auto; height: auto; padding:5px 10px!important;">

        <span class="item item-input" style="width: 33%; float:left; text-align:center;">
            <img src="img/camera.png" ng-click="openCamera()" style="width:45px; margin: 0 auto;">
        </span>
        <span class="item item-input" style="width: 33%; float:left; text-align:center;">
            <img src="img/video.png" style="width:45px; margin: 0 auto;" name=file ngf-select="uploadFile()" ng-model="files">
        </span>
        <span class="item item-input" style="width: 33%; float:left; text-align:center;">
            <img src="img/attachments.png" ng-click="chooseFile()" style="width:45px; margin: 0 auto;">
        </span>


    </div>

    <ion-content class="padding-top sign_in_back">

        <div>
            <div class="list chat_only">

                <div ng-repeat="msg in ChatList track by $index">

                    <div class="sender-2 chat_row" ng-show="msg.IsSender==0">
                        <div class="avatar-image"><img ng-src="{{recieverImage}}"></div>
                        <div class="msg" ng-show="msg.message !==undefined" ng-click="alerts($index, msg.message,msg.IsSender,msg.id)">
                            {{msg.message}}
                            <div class="bottom-part" id="{{'rcvrTranslatedText_'+$index}}"></div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="loading-area"><ion-spinner icon="dots" class="spinner-dark" ng-show="rcvrHideShowLoader[$index]" id="{{'spinner_'+$index}}"></ion-spinner></div>
                        <img ng-show="msg.imgURI !== undefined" ng-src="{{msg.imgURI}}" style="width:250px; height:200px;float:left">
                    </div>
                    <div class="sender-1 chat_row" ng-show="msg.IsSender==1">
                        <div class="msg" ng-show="msg.message !==undefined" ng-click="alerts($index, msg.message,msg.IsSender,msg.id)">
                            <i class="icon ion-star" ng-show="senderFav[msg.id]" style="color:orange;"></i>
                            {{msg.message}}
                            <div class="bottom-part" id="{{'translatedText_'+$index}}"></div>
                            <div ng-show="msg.IncorrectText!=undefined" class="incorrectBottom-part">{{msg.IncorrectText}} <img ng-src="{{msg.inCorrectedPngSrc}}" ng-show="msg.inCorrectedPngSrc!=undefined" style="width:12px;" /></div>
                            <div ng-show="msg.CorrectedText!=undefined" class="correctBottom-part">{{msg.CorrectedText}} <img ng-src="{{msg.correctedPngSrc}}" ng-show="msg.correctedPngSrc!=undefined" style="width:12px;" /></div>
                            <div ng-show="msg.notes!=undefined" style="font-weight:bolder;color:black;">Notes</div>
                            <div class="bottom-part" ng-show="msg.notes!=''">{{msg.notes}}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="loading-area"><ion-spinner icon="dots" class="spinner-dark" ng-show="hideShowLoader[$index]" id="{{'spinner_'+$index}}"></ion-spinner></div>
                        <img ng-show="msg.imgURI !== undefined" ng-src="{{msg.imgURI}}" style="width:250px; height:200px;float:right;">
                    </div>
                </div>

                <div id="recieverVideo" style="width:152px;float:left;"></div>


                <div id="senderVideo" style="width:152px;float:right">
                </div>
            </div>
        </div>



    </ion-content>
    <div class="dark-overlay" ng-hide="show">
        <div style="position: relative; width:100%; height:100%">
            <div class="modal_part new-modal_part animated bounceInUp">
                <div class="onclick_part" style="position: relative; width:100%; float:left">
                    <div class="toparea">
                        <a href="#" class="icon-item" ng-click="markAsFav()">
                            <span><i class="icon ion-star"></i></span> Favourite
                        </a>
                        <a href="javascript:void(0)" class="icon-item" ng-click="checkSpelling()">
                            <span><img src="img/003-spell-check-interface-symbol.png"></span> Checker
                        </a>
                        <a href="javascript:void(0)" class="icon-item" ng-click="speakText()">
                            <span><img src="img/001-speaker.png"></span> Sound
                        </a>
                        <a href="javascript:void(0)" class="icon-item" ng-click="tranlateToNativeLang()">
                            <span><img src="img/004-translation-and-localization.png"></span> Translate
                        </a>
                        <a href="javascript:void(0)" class="icon-item" ng-click="copyText()">
                            <span><i class="icon ion-ios-copy-outline"></i></span> Copy
                        </a>
                    </div>
                    <div class="bottomarea">
                        <button ng-click="hideCard()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="writing_chat">

        <div class="form-group">
            <div class="row">
                <div class="col col-70">
                    <span class="item item-input">
                        <textarea placeholder="Type Message" required="" ng-model="data" id="msgs" rows="1" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" style="height:35px" on-hold="showButton()"></textarea>
                        <button ng-show="showPasteButton" ng-click="pasteText()">Paste</button>
                        <span ng-click="takeToTranslatePage(data)" style="margin-right:4px;margin-top: 5px;"> <img src="img/translate.png" style="width:32px;" /> </span>
                    </span>
                </div>
                <div class="col col-20">
                    <button class="button button-small button-calm btnn_chat" style="height:45px;" type="button" ng-click="send_chat(data)"> Send</button>
                </div>
            </div>
        </div>

    </div>





</ion-view>



