<ion-view view-title="Translate" cache-view="false">
    <div class="row bar bar-header" ng-click="goToChat()">
        <div class="col col-10">
            <i style="font-size: 28px; color:#fff;" class="ion-android-arrow-back"></i>
        </div>
        <div class="col col-70">
            <h3 class="cart_heading">Translate</h3>

        </div>

    </div>

    <ion-content class="padding-top sign_in_back">
        <div class="translate_page" style="background: #fff; width: 98%; margin: 0 auto; padding: 10px 8px;">

            <ion-card>
                <ion-card-header>
                    <div class="row" style="border-bottom: 1px solid #e6e6e6">
                        <div class="col" style="text-align: center">
                            <select ng-model="nativeLanguage" style="background:#fff; border:none; padding:0 5px; ">
                                <option value="EN">English</option>
                                <option value="ES">Spanish</option>
                                <option value="FR">French</option>
                                <option value="DE">German</option>
                                <option value="PT">Portugese</option>
                                <option value="IT">Italian</option>
                                <option value="RU">Russian</option>
                            </select>

                        </div>
                        <div class="col" style="text-align: center">
                            <i style="font-size: 18px; color: #b3b3b3;" class="ion-arrow-swap"></i>
                        </div>
                        <div class="col" style="text-align: center">
                            <select ng-model="changeLanguage" style="background:#fff; border:none; padding:0 5px; " ng-change="changeTranslation(changeLanguage)">
                                <option value="EN">English</option>
                                <option value="ES">Spanish</option>
                                <option value="FR">French</option>
                                <option value="DE">German</option>
                                <option value="PT">Portugese</option>
                                <option value="IT">Italian</option>
                                <option value="RU">Russian</option>
                            </select>
                        </div>
                    </div>
                </ion-card-header>
                <ion-card-content>
                    <label class="item item-input text" style="margin-top:10px;">
                        <textarea placeholder="Enter your text..." rows="4" name="description" ng-model="toTranslateText" id="inputTextContent"></textarea>
                    </label>
                    <div class="row">
                        <div class="col" style="text-align: right">
                            <i class="ion-android-send" style="font-size: 22px;" ng-click="SendChat(message)"></i>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>

        </div>


        <div class="translate_page" style="background: #fff; width: 98%; margin: 0 auto; padding: 10px 8px; margin-top: 25px;">

            <ion-card>
                <ion-card-content>
                    <label class="item item-input text" style="margin-top:10px;">
                        <textarea placeholder="Enter your text..." rows="4" name="description" ng-model="message" ng-click="changeTranslationDirectly(changeLanguage,toTranslateText)" ></textarea>
                    </label>
                </ion-card-content>
            </ion-card>

        </div>

    </ion-content>
</ion-view>